<div class="jumbotron-fluid bg-dark text-white text-center">
    <div class="container-fluid">
        <div class="p-xl-5 p-l-5 p-md-5 p-lg-5">
            <h1 class="display-3">வணக்கம்</h1>
        </div>
    
        <div>
            <h1 class="display-1 font-weight-bold">I am Surya Raman</h1>
        </div>
    
        <div class="display-4 p-5 d-inline-flex font-weight-light">
            <h3>Backend Developer <i class="fab fa-python"></i></h3>
            <h3 class="pl-2">Dog Parent <i class="fas fa-dog"></i> </h3>
            <h3 class="pl-2">Motorcycle Enthusiast <i class="fas fa-motorcycle"></i> </h3>
        </div>
    </div>
</div>