<section class="jumbotron-fluid bg-dark text-white text-center" aria-label="About Surya Raman">
    <div class="container-fluid">
        <div class="p-xl-5 p-l-5 p-md-5 p-lg-5">
            <div class="display-3 greeting" role="text" aria-label="Greeting in Tamil"></div>
        </div>
    
        <div>
            <h1 class="display-1 font-weight-bold">I am Surya Raman</h1>
        </div>
    
        <div class="display-4 p-5 d-flex flex-wrap justify-content-center font-weight-light">
            <p class="px-2 h3 m-0">Backend Developer <i class="fab fa-python" aria-hidden="true"></i></p>
            <p class="px-2 h3 m-0">Dog Parent <i class="fas fa-dog" aria-hidden="true"></i> </p>
            <p class="px-2 h3 m-0">Motorcycle Enthusiast <i class="fas fa-motorcycle" aria-hidden="true"></i> </p>
        </div>
    </div>
</section>